SServerEngine/Debug/
SServerEngine/Release/
SServerEngine/StaticDebug/
SServerEngine/StaticRelease/
SServerEngine.sdf
SServerEngine.v11.suo
SServerEngine08.ncb
SServerEngine08.suo
Debug/
Release/
StaticDebug/
StaticRelease/
SServerEngine.opensdf
*.user